div#principal {
    color: #300;
    background-color: #ffe6e6;
    font-family: 'Quicksand', sans-serif;
}

div#titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo img {
    width: 15%;
}

ul {
    display: flex;
    justify-content: space-evenly;
    background-color: beige;
}

li {
    display: inline-flex;
    padding: 10px;
    color: black;
}

li a {
    text-decoration: none;
}

li:hover {
    background-color: #ffb3b3;
}

li a:hover {
    color: #00001a;
}

footer {
    display: flex;
    justify-content: center;
}

.produto {
    flex: 0 1 auto;
    width: 23%;
    height: auto;
    justify-content: center;
}

.produto img {
    width: 95%;
    height: auto;
}

.produto:hover {
    width: 25%;
    height: auto;
}

.container-produtos {
    display: flex;
    justify-content: space-between;
}

#conteudo {
    display: flex;
    justify-content: space-evenly;
}

.links {
    flex: 0 1 auto;
    width: 33%;
    height: auto;
}

.links img {
    width: 100%;
    height: auto;
}

.links:hover{
    width: 38%;
}